## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import sys
import os

sys.path.insert(1, os.path.join("..","."))
# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../weather_database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,yellowknife,CA,2022-05-01 19:57:03,62.4560,-114.3525,43.32,49,20,16.11,few clouds
1,1,ostrovnoy,RU,2022-05-01 19:57:04,68.0531,39.5131,18.64,89,80,7.85,broken clouds
2,2,ushuaia,AR,2022-05-01 19:57:04,-54.8000,-68.3000,44.26,70,20,20.71,few clouds
3,3,concordia,AR,2022-05-01 19:57:05,-31.3930,-58.0209,68.79,60,30,8.01,scattered clouds
4,4,klaksvik,FO,2022-05-01 19:57:05,62.2266,-6.5890,45.52,77,88,23.06,overcast clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_prompt_temp = float(input('Please enter the minimum temperature for your trip? '))
max_prompt_temp = float(input('What is the maximum temperature for your trip? '))

Please enter the minimum temperature for your trip? 40
What is the maximum temperature for your trip? 80

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_df = city_data_df.loc[(city_data_df['Max Temp']<=max_prompt_temp) & (city_data_df['Max Temp']>=min_prompt_temp)]
preferred_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,yellowknife,CA,2022-05-01 19:57:03,62.4560,-114.3525,43.32,49,20,16.11,few clouds
2,2,ushuaia,AR,2022-05-01 19:57:04,-54.8000,-68.3000,44.26,70,20,20.71,few clouds
3,3,concordia,AR,2022-05-01 19:57:05,-31.3930,-58.0209,68.79,60,30,8.01,scattered clouds
4,4,klaksvik,FO,2022-05-01 19:57:05,62.2266,-6.5890,45.52,77,88,23.06,overcast clouds
7,7,rikitea,PF,2022-05-01 19:57:06,-23.1203,-134.9692,76.30,73,14,6.89,few clouds

In [5]:
# 4a. Determine if there are any empty rows.
preferred_df.count()

City_ID                444
City                   444
Country                439
Date                   444
Lat                    444
Lng                    444
Max Temp               444
Humidity               444
Cloudiness             444
Wind Speed             444
Current Description    444
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_preferred_df = preferred_df.dropna()
clean_preferred_df.count()

City_ID                439
City                   439
Country                439
Date                   439
Lat                    439
Lng                    439
Max Temp               439
Humidity               439
Cloudiness             439
Wind Speed             439
Current Description    439
dtype: int64

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_preferred_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,yellowknife,CA,43.32,few clouds,62.4560,-114.3525,
2,ushuaia,AR,44.26,few clouds,-54.8000,-68.3000,
3,concordia,AR,68.79,scattered clouds,-31.3930,-58.0209,
4,klaksvik,FO,45.52,overcast clouds,62.2266,-6.5890,
7,rikitea,PF,76.30,few clouds,-23.1203,-134.9692,
8,bambous virieux,MU,75.45,broken clouds,-20.3428,57.7575,
9,seoul,KR,46.00,mist,37.5683,126.9778,
12,codrington,AU,58.89,overcast clouds,-38.2667,141.9667,
13,miyako,JP,42.64,clear sky,39.6367,141.9525,
14,albany,US,69.46,overcast clouds,42.6001,-73.9662,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row['Lat']
    lng = row['Lng']
    params["location"] = f"{lat},{lng}"    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"   
    try:
        # 6e. Make request and retrieve the JSON data from the search. 
        hotels = requests.get(base_url, params=params).json()   
    
        # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [9]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df[hotel_df['Hotel Name'] !='']
clean_hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,yellowknife,CA,43.32,few clouds,62.4560,-114.3525,The Explorer Hotel
2,ushuaia,AR,44.26,few clouds,-54.8000,-68.3000,Albatross Hotel
3,concordia,AR,68.79,scattered clouds,-31.3930,-58.0209,Palmar Hotel Casino
4,klaksvik,FO,45.52,overcast clouds,62.2266,-6.5890,Airbnb rooms
7,rikitea,PF,76.30,few clouds,-23.1203,-134.9692,People ThankYou

In [10]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [11]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp}°F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [12]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center = (30.0,31.0), zoom_level = 1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content = hotel_info)
# 11b. Display the figure
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))